<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harusame.bossrecruitment.mapper.QualificationsMapper">

    <resultMap id="BaseResultMap" type="com.harusame.bossrecruitment.domain.pojo.Qualifications">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="schoolName" column="school_name" jdbcType="VARCHAR"/>
        <result property="fullTime" column="full_time" jdbcType="BOOLEAN"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="major" column="major" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="DATE"/>
        <result property="endTime" column="end_time" jdbcType="DATE"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,school_name,full_time,
        level,major,start_time,
        end_time,user_id
    </sql>
</mapper>
