<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harusame.bossrecruitment.mapper.SeekerMapper">

    <resultMap id="BaseResultMap" type="com.harusame.bossrecruitment.domain.pojo.Seeker">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="availability" column="availability" jdbcType="TINYINT"/>
        <result property="identity" column="identity" jdbcType="TINYINT"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="cityId" column="city_id" jdbcType="INTEGER"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="advantage" column="advantage" jdbcType="VARCHAR"/>
        <result property="firstEmployedDate" column="first_employed_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,availability,identity,
        level,user_id,birthday,
        city_id,position,advantage,
        first_employed_date
    </sql>
</mapper>
