<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harusame.bossrecruitment.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.harusame.bossrecruitment.domain.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="wechat" column="wechat" jdbcType="VARCHAR"/>
            <result property="mail" column="mail" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        role,phone,wechat,
        mail,create_date
    </sql>
</mapper>
